        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="/assets{{ assets['/scripts/utils.js'] }}" defer></script>
        <script type="text/javascript" src="/assets{{ assets['/scripts/uio.js'] }}" defer></script>
        <script type="text/javascript" src="/assets{{ assets['/scripts/app.js'] }}" defer></script>
        <script type="text/javascript" src="/assets{{ assets['/scripts/matomo.js'] }}" defer></script>
        {% uioScripts %}
