{% extends "layouts/base.njk" %}

{% set bodyClass = "post" %}

{% block pageHeader %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endblock %}

{% block content %}
<div class="content">
    {{ content | safe }}
    <p>The example is to demonstrate how an external website interacts with Personal Data Server to
        retrieve or save data.
    </p>
    <p>Prerequisite: Personal Data Server should be running at <code>https://pds.fluidproject.org/</code>.
        Refer to <a href="https://github.com/fluid-project/personal-data-server">Personal Data Server Documentation</a>
        about how to start Personal Data Server locally.
    </p>
    <p>How to use:</p>
    <p>1. Click "Login to Personal Data Server Using a Google Account" to log in to Personal Data Server</p>
    <p>2. Click "Get Preferences" to retrieve preferences for your account from Personal Data Server</p>
    <p>3. Click "show preferences" at the top right corner, select your UI preferences. Then click
        "Save Preferences" to save selected preferences to Personal Data Server
    </p>
    <p>4. Click "Logout" to log out of Personal Data Server</p>

    <button id="login">Login to Personal Data Server Using a Google Account</button>
    <button id="get_prefs">Get Preferences</button>
    <button id="save_prefs">Save Preferences</button>
    <button id="logout">Logout</button>

    <div id="message" role="region" aria-live="polite"></div>
</div>
{% endblock %}
